---
import styles from './Header.module.css';
import Navigation from './Navigation.astro';
---

<header class={styles.header}>
  <div class={styles.container}>
    <a href="/" class={styles.logo}>
      Dušan Todorović
    </a>
    <Navigation />
  </div>
</header>
