---
import styles from './Header.module.css';
import Navigation from './Navigation.astro';
import SearchBar from '../modules/search/SearchBar.astro';
---

<header class={styles.header}>
  <div class={styles.container}>
    <a href="/" class={styles.logo}>
      Dušan Todorović
    </a>
    <div class={styles.actions}>
      <Navigation />
      <SearchBar />
    </div>
  </div>
</header>
